div .petsIcon{
	font-size: 35px;
	margin: 0 8px 8px 0;
}

form .btn{
	margin: 10px 8px 8px 0;
}

.formContainer{
    margin: 30px auto;
    max-width: 500px;
}

form div{
	width: 100%;
}

.invalid-feedback{
	margin-bottom: -15px;	
	color: red;
	text-decoration: underline red;
}


form .is-invalid{
	border-bottom: solid 1px red;
}

.user-inf{
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	position: relative;
	width: 250px;
    float: right;
    top:-77px;
}

.user-inf p{
	margin: 0px 0 -4px 0;
	font-size: 18px;
	color: white;
}

.user-inf a{
	font-size: 12px;
	color: wheat;
}

.rounded-circle{
	float: left;
	border-radius: 30px;
	width: 50px !important;
}
